/* Login.css */
.login-container {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
  background-color: white;
}

.login-form {
  width: 350px;
  padding: 40px;
  margin: 80px auto 0 20px;
}

.login-button {
  width: 100%;
  padding: 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  margin-top: 20px;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo img {
  width: 100px;
  height: auto;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: left;
}

p {
  font-size: 0.9em;
  margin-bottom: 20px;
  color: #333;
  text-align: left;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 15px 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.85em;
  font-family: sans-serif;
  color: #333;
}

input::placeholder {
  color: #999;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.forgot-password {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9em;
}

.remember-me {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: #333;
}

.remember-me input[type="checkbox"] {
  margin-right: 5px;
}

.social-login {
  display: flex;
  justify-content: space-between; /* Align buttons side by side */
  gap: 15px;
}

.google-login,
.apple-login {
  width: 48%; /* Adjust width to fit side by side */
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
}

.google-login img,
.apple-login img {
  width: 20px;
  margin-right: 10px;
}

.or-divider {
  text-align: center;
  margin: 15px 0;
  color: #999;
  font-size: 0.9em;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #333;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.login-image {
  width: 50%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.error-message {
  color: green;
  font-size: 0.9em;
  margin-bottom: 15px;
  text-align: left;
}
